@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
   
    
    
    
  }
 
  .main {
    margin: 0;
    
            padding: 0;
            font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
  
   
    
    
   
    
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

  }
  .nav{
    background: linear-gradient(to right, #44c49d, #7bfefe);

  }
 
 .monti{
  background: linear-gradient(to right, #44c49d, #7bfefe);
 }
  
  .redButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .redButton:hover {
    background-color: darkred;
  }
 
 